<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.libreta.notas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Libreta-de-Notas</name>
    <description>
        Libreta de Notas: Podemos escribir un Titulo y sus comentarios.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PongoyQuito
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-file"/>
	<plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-device-motion"/>

</widget>
